@import './init.scss';

body{
   background-color: $tint3;
   box-sizing: border-box;
   overflow-x: hidden;
   .inner{
      width: 100%;
      height: 100%;
      margin: 0 auto;

      @include media('sm'){
         height: 100%;
         width: min(100%, 40rem);
      }
      @include media('md'){
         height: 100%;
         width: min(73rem, 100%);
      }
      @include media('lg'){
         height: 100%;
         width: min(99rem, 100%);
      }
	  .h2 {
		color: #53a8ae;
	  }
   }
}

//list
.list{
   width: 100%;
   margin-bottom: 10rem;
   padding: 10px 50px;
   box-sizing: border-box;
   @include df(row){
      flex-wrap: wrap;
      column-gap: $rem;
      row-gap: $rem *2;
	  justify-content: flex-start;
      @include media('sm'){
         column-gap: $rem;
         row-gap: $rem *2;
      }
      @include media('md'){
         column-gap: $rem;
         row-gap: $rem *3;
      }
      @include media('lg'){   
         column-gap: $rem *2;
         row-gap: $rem *3;
      }
   }
}
.item{
   width: 100%;
   background: #fff;
   padding: $rem *2;
   box-sizing: border-box;
   border-radius: $rem *2;
   box-shadow: 0 3px 24px 0 rgba(6,51,54, .2);
   @include media('sm') {
      width:calc(100% - ($rem*2))
   }
   @include media('md') {
      width:calc(33% - ($rem*4))
   }
   @include media('lg') {
      width:calc(25% - ($rem*1.5))
   }

   &_img{
      width: 100%;
      height: 20rem;
      overflow: hidden;
	  border-radius: 15px;
      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   .list-text-wrap{
		padding: 0.5vw 0 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.list-txt-title{
			width: 100%;
			font-size: min(1.5rem, 2.5vw);
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			color: #333;
			margin-bottom: 10px;
			text-align: left;
		}
		.list-sub-text-wrap{
			width: 100%;
			display: flex;
			justify-content: space-between;
			font-size: min(1rem, 2vw);
			line-height: 0.5rem;
			color: #aaa;
			div{
				display: flex;
				align-items: center;
				span{
					font-size: 1.6rem;
				}
			}
		}
      
   }

}

//recipe
.detail{
   width: 50vw;
   padding: 2vw;
   margin: 10rem auto;
   @include media('sm') {
      width: 40rem
   }
   @include df(column){
      gap: 4rem;
   }
   .detail_mainimg{
      height: 50rem;
      width: 100%;
	  object-fit: cover;
	  border-radius: 1.6rem;
   }
   .detail-title{
		color: rgb(0, 110, 74);
		font-size: 4rem;
		font-weight: 500;
		letter-spacing: -2.5px;
   }
   .detail_info{
      background: #fff;
      border-radius: 1.6rem;
      box-sizing: border-box;
      margin-bottom: 2vw;
      padding: 2vw;
      width: 100%;
	  box-shadow: 0 0 30px #eee;
      .info_title{
         font-size: 2.4rem;
         margin-bottom: 1.5rem;
         position: relative;
		 padding-left: 25px;
         &:before{
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 10px;
			height: 10px;
			background: #f00;
			border-radius: 50%;
         }
      }
      .desc_list{
		display: flex;
		margin-bottom: 2rem;
		grid-column-gap: 10px;
		justify-content: space-between;
		font-size: 1.3rem;
		align-items: center;
		.desc_txt {
			width: 70%;
		}
		img {
			width: 20%;
			border-radius: 10px;
		}
      }
      .txt{
         color: #636c6d;
         line-height: 1.8;
         padding: 0 1.6rem;
         font-size: 1.2rem;
      }
   }
   .detail_info2{
      .table{
         display: flex;
         flex-direction: column;
         color: #636c63;
         justify-content: center;
		 font-size: 1.3rem;
         .row{
            display: flex;
            align-items: flex-start;
            gap: 1rem;
            flex-direction: row;
            height: 3rem;
            .col{
               &:first-child{
                  max-width: 20rem;
                  min-width:10%;
                  width: 7rem;
                  display: inline-block;
                  text-align: justify;
               }
            }
         }
         .tip{
            color: #709799;
            font-weight: 700;
            margin-top: 2rem;
         }
      }
   }
}
.mainSlider {
	width: 100%;
	height: 90vh;
	.swiper {
		height: 100%;
	}
	.swiper-pagination-bullet {
		width: 15px;
		height: 15px;
		text-align: center;
		line-height: 20px;
		font-size: 12px;
		opacity: 0.6;
		background: #d9d9d9;
	}	  
	.swiper-pagination-bullet-active {
		color: #fff;
		background: rgb(255, 69, 69);
	}
	.swiper-button-prev, .swiper-button-next {
		color: #53a8ae;
		font-weight: bold;
	}
}

//home
.home {
	text-align: center;
	.logo {
		margin-top: 80px;
		a {
			color: #53a8ae;
			font-size: 10rem;
			line-height: 10rem;
		}
	}
	.title {
		h2 {
			font-weight: 600;
		}
	}
	.homeList {
		width: 70vw;
		margin: 20px auto;
		position: relative;
		margin-bottom: 80px;
		.list {
			margin-bottom: 0;
			padding: 10px 30px;
			.item {
				width: 100%;
			}
		}
		.swiper_btn {
			.swiperPrevBtn {
				position: absolute;
				top: 50%;
				left: -3%;
				transform: translateY(-50%);
				z-index: 999;
				cursor: pointer;
			}
			.swiperNextBtn {
				position: absolute;
				top: 50%;
				right: -3%;
				transform: translateY(-50%);
				z-index: 999;
				cursor: pointer;
			}
		}
	}
}